.login{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.form__wrapper {
    width: 35%;
} 

@media only screen and (max-width: 768px) {
    .form__wrapper {
        width: 100%;
        padding: 0 2rem;
    }
}